.ml-0 {
    margin-left: 0 !important; 
}

.mr-1per {
    margin-right: 0.1% !important;
}

.float-right {
    float: right !important;
}

.invalid-feedback {
    color: red;
}

.form-control.is-invalid {
    border: 1px solid red;
}